<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="today i decided to...">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💭</text></svg>">
      <link rel="stylesheet" href="https://decided.to/_css/main.css">
      <link rel="stylesheet" href="https://decided.to/_css/nav.css">
      <link rel="stylesheet" href="https://notes.decided.to/_css/notes.css">
  </head>

  <body>
    <nav>
      <a href="https://decided.to" id="left"><b>[ DECIDED.TO ]</b></a>
      <a>    |    </a>
      <a href="https://write.decided.to">[ read the blog ]</a>
      <a href="/about">[ read about this ]</a>
    </nav>

    {{ content }}

    <footer>
      (c) lenowac 2021
    </footer>
  </body>
</html>
